<!--<h1>Attractions:</h1>

{{#each eventData }}
<h5>{{name}}</h5>
<p>{{url}}</p>
<p>{{locale}}</p>
<p>{{id}}</p>

{{/each}}-->

<div class="container">
    <h2>Attractions</h2>
    <div class="d-flex flex-wrap justifycontent-center">
        {{#each eventData}}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">{{name}}</h5>

                <a href="{{url}}" class="card-title">{{url}}</a>
                {{!-- <h6 class="card-title">{{id}}</h6> --}}


            </div>
        </div>
        {{/each}}
    </div>
</div>